:root {
  --highlight-color: #0041b9;
  --background-color: #041824;
}

@font-face {
  font-family: 'NanumGothicBold';
  src: url('../fonts/NanumGothicBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family: 'NanumGothicBold', sans-serif; */
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #041824;
  padding: 10px 30px;
  gap: 20px; 
  height: 170px; /* header 높이 설정 */
  background-color: #041824;
  color: #fff;
}

header .logo {
  height: 100%; /* 부모 컨테이너 높이에 맞춤 */
}

header .banner {
  width: 100%; /* 가로를 100%로 설정 */
  max-width: 800px; /* 가로 크기 제한 */
  height: auto; /* 비율 유지 */
  margin: 0 auto;
}

header .logo,
header .banner {
  align-self: center; /* Align both logo and banner consistently */
}

header .snsIcons {
  display: flex;
  gap: 30px;
  align-items: center;
}

header .snsIcons img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

section {
  padding: 1% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-container {
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  align-items: center;    /* 가로 중앙 정렬 */
  text-align: center;     /* 텍스트도 중앙 정렬 */
  width: fit-content;
}

h1 {
  font-size: 2.5rem; /* 가장 큰 제목 */
  font-weight: bold;
  color: #041824;
}

h2 {
  font-size: 1.6rem; /* 중간 제목 */
  font-weight: 600;
  color: #333;
}

h3 {
  font-size: 1.3rem; /* 소제목 */
  font-weight: 500;
  color: #555;
}

h4 {
  font-size: 1.15rem; /* 소제목 */
  font-weight: 500;
  color: #555;
}

p {
  font-size: 1rem; /* 일반 텍스트 */
  color: #666;
}

.bold {
  font-weight: bold;
}

.highlight {
  color: var(--highlight-color);
}

.text-container {
  margin-bottom: 3%;
}

.horizontal-container {
  display: flex;
  gap: 20px; /* 두 div 사이 간격 */
  align-items: center; /* 세로 중앙 정렬 */
  height: auto;
}

.horizontal-container .text-container {
  flex: 1; /* 텍스트 영역이 더 넓게 차지하도록 */
}

.horizontal-container .img-container {
  flex: 0.5;
}
