body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #041824;
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  margin: 0 0 30px;
}

header .logo {
  height: 100%; /* 부모 컨테이너 높이에 맞춤 */
}

header .banner {
  width: 100%; /* 가로를 100%로 설정 */
  max-width: 800px; /* 가로 크기 제한 */
  height: auto; /* 비율 유지 */
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #041824;
  padding: 10px 30px;
  gap: 20px; 
  height: 170px; /* header 높이 설정 */
}

header .logo,
header .banner {
  align-self: center; /* Align both logo and banner consistently */
}

header .snsIcons {
  display: flex;
  gap: 30px;
  align-items: center;
}

header .snsIcons img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.section1, .section2, .section3, .section4 {
  padding: 100px 20px;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

section {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.8s ease-in-out;
  margin-top: 0;
  margin-bottom: 30px;
  background-color: transparent;
}

section.show {
  opacity: 1;
  transform: translateX(0);
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 100px 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1000px;
  align-items: center;
}

.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.img-container {
  width: 50%;
  max-height: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.info-box img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.info-box ul {
  list-style: none;
  padding: 0;
}

.info-box li {
  font-size: 1.1rem;
  margin: 10px 0;
}

.service-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.service-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  max-width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #041824;
}

.service-box h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery-container img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.contact {
  text-align: center;
}